<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clothing Authenticity Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome Main Page</h1>

        <form>
          <div class="form-group col-md-4">
            <label for="Brand">Brand</label>
            <select id="Brand" class="form-control">
              <option>...</option>
              <option>Nike</option>
              <option>Adidas</option>
              <option>Reebok</option>
              <option>Puma</option>
              <option>Converse</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="WearType">Wear Type</label>
            <select id="WearType" class="form-control">
              <option>...</option>
              <option>Shoes</option>
              <option>Pants</option>
              <option>T-Shirts</option>
              <option>Shorts</option>
              <option>Bags</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="IDTag">ID Tag Number</label>
            <textarea class="form-control" id="IDTag" rows="1"></textarea>
          </div>

          <div class="text-center">
            <a class="btn btn-primary "href="/response_page">Authenticate</a>
          </div>

        </form>

      </div>

    </div>


  </body>
</html>
